
<ion-content>
  <div class="container flex-center">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title class="flex-center">BookPals</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" label-placement="floating" fill="" placeholder="example@mail.com"></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-input label="Password"  type="password" label-placement="floating" fill="" placeholder="Enter Password"></ion-input>
        </ion-item>
        <br/>
        <div class="">
          <ion-button color="warning" size="full">Login</ion-button>
          <ion-button color="warning" fill="clear" size="full">Register</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
