.main {
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100vh;
}

.container {
    width: 100%;
    /* Make sure it takes full width */
    max-width: 600px;
    /* Limit the container's width */
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

ion-item {
    --padding-start: 8px;
}

ion-icon {
    font-size: 12px;
    align-self: start;
    margin: 15px 8px;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0;
    align-items: center;
}

.addBook {
    --background: #2d2f2e;

    --color: rgb(253, 253, 253);

    --border-radius: 0;
    --border-width: 1px;

    --ripple-color: rgb(193, 194, 185);
}


.img-book-list { 
    width: 80px;
    height: 120px;
}
.text-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
