.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

ion-spinner {
  height: 70px;
  width: 70px;
  color: rgb(98, 88, 173);
  //margin-left: 45%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100vh;
}

.container {
  width: 95%;
  /* Make sure it takes full width */
  max-width: 600px;
  /* Limit the container's width */
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

ion-card {
  width: 100%;
  max-width: 500px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
}

.card-header {
  display: flex;
  justify-content: left;
  flex-direction: column;
  background: red;
}

/* */

.profile-pic {
  width: 50px;
  /* Define the size of the image */
  height: 50px;
  border-radius: 50%;
  /* Make the image circular */
  margin-right: 5px;
  /* Add space between the image and text */
  object-fit: cover;
  /* Ensure the image scales properly */
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.text-wrapper h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  /* Adjust font size */
  color: black;
}

.text-wrapper h5 {
  margin: 0;
  font-size: 14px;
  color: black;
}

.photo {
  border-radius: 4%;
}

ion-icon {
  font-size: 25px;
  color: black;
}

.icons-center {
  display: flex;
  justify-content: center;
}

p,
b {
  color: black;
  margin: 0;
}