<ion-content [fullscreen]="true" *ngIf="(userState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING" >
    <div class="flex-center">
      <ion-spinner name="circles" ></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR">
    ERROR
    Retry Button
  </ng-container>

  <ng-container *ngSwitchCase="DataState.LOADED" >
    <div class="container">
      <p>{{ state?.appData?.data?.user }}</p>
      <!-- Backgound -->
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <img src="{{ state?.appData?.data?.user?.imageUrl }}" 
              class="profile-pic" alt="">
            </ion-col>
            <ion-col>
              <div class="text-wrapper">
                <h2>{{ state?.appData?.data?.user?.name }}</h2>
                <h5>{{ state?.appData?.data?.user?.country }} {{ state?.appData?.data?.user?.birthday | date:'MMMM d, yyyy' }}</h5>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>Bio</h5>
              <p>{{ state?.appData?.data?.user?.bio }}</p>
            </ion-col>

            <ion-col size="12">
              <h5>My Favorite Books</h5>
              <div *ngIf="state?.appData?.data?.user?.books as books">
                <div *ngFor="let book of books">
                  <p>{{ book.title}} By {{ book.author }}</p>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <h5>My Favorite Genres</h5>

              <div *ngIf="state?.appData?.data?.user?.genres as genres">
                <div *ngFor="let genre of genres">
                  <p>{{ genre.name}} </p>
                </div>
              </div>

            </ion-col>

            <!-- <ion-col size="12">
              <h5>Languages</h5>
              <p>1. Spanish
                2. French
                3. English
              </p>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-card>
      <!-- ProfileImage -->
      <!-- UserName --> 
      <!-- Gender --> <!-- Country --> <!-- Age -->

      <!-- Bio -->

      <!-- Post -> Slider -->

      <!-- My Favorite Books -->
      
      <!-- My Favorite Genres -->

      <!-- Languages -->
      

    </div>
  </ng-container>

</ion-content>
